# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/keymanager/dist/
/keymanager/build/
keymanager/kmg

keymanager/master\.txt

keymanager/nonces\.txt

keymanager/passwords\.txt

keymanager/sites\.txt

report/report\.tex

report/report\.synctex\.gz

report/report\.sty

report/report\.log

report/pdg\.aux

modelisation\.md

report/pdg\.tex

report/report\.aux

report/report\.fdb_latexmk

report/report\.fls
